

header {
  border-top: 3em solid black;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
     url(./raspberry-pi-1719220_1920.jpg);
  height: 40em;
  background-size: cover;
}

.hi{
  padding-top: 2em;
  font-size: 2em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 3px 0 black;
}

.hi2{
  font-size: 1.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 3px 0 black;
}

.links {
  height: 200em;
  background-color: black;
  display: flex;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9)
    ),
     url(./JS-logo.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.logo {
  margin: auto;

}

.social a {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#trip-pic {
  height: 20em;
  width: 30em;
  float: right;
}

#trip-hopper {
  color: white;
  float: left;
}

#germanx {
  color: white;
  float: right;
}

#germanx-pic {
  height: 20em;
  width: 30em;
  float: left;
}

#me-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
